Repository klarna-incubator/mleko: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: poetry run check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: poetry run check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: poetry run check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: poetry run darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: poetry run end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: ^CHANGELOG\.md$
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
      - id: isort
        name: isort
        entry: poetry run isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: poetry run pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: poetry run trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
        exclude: ^(CHANGELOG\.md|\.git\/COMMIT\_EDITMSG)$
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

fix(data cleaning): Fix newline characters breaking CSV reading using Arrow.
  mleko/dataset/convert/csv_to_vaex_converter.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(exporter): Add `LocalManifest` support for `LocalExporter` which simplifies caching logic and enables S3 manifest translations.
  mleko/dataset/export/local_exporter.py
  mleko/dataset/ingest/__init__.py
  mleko/dataset/ingest/base_ingester.py
  mleko/dataset/ingest/kaggle_ingester.py
  mleko/dataset/ingest/s3_ingester.py
  mleko/utils/__init__.py
  mleko/utils/file_helpers.py
  mleko/utils/s3_helpers.py
  tests/dataset/export/test_local_exporter.py
  tests/dataset/ingest/test_base_ingester.py
  tests/dataset/ingest/test_kaggle_ingester.py
  tests/utils/test_file_helpers.py
Due: black, end-of-file-fixer, flake8, pyupgrade

refactor(data source): Extract shared S3 logic to `utils` which can be then used by `S3Exporter`.
  mleko/dataset/ingest/s3_ingester.py
  mleko/utils/__init__.py
  mleko/utils/s3_helpers.py
  poetry.lock
  tests/dataset/ingest/test_s3_ingester.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(exporter): Add `S3Exporter` that implements cached S3 exporting of files from the local disk.
  README.md
  examples/Titanic.ipynb
  mleko/dataset/export/__init__.py
  mleko/dataset/export/base_exporter.py
  mleko/dataset/export/s3_exporter.py
  tests/dataset/export/test_s3_exporter.py
Due: black, end-of-file-fixer, flake8, pyupgrade

chore(release): release 4.0.0
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

feat(transformer): Add `ExpressionTransformer` for creating features using the `vaex` expression system.
  mleko/dataset/transform/__init__.py
  mleko/dataset/transform/expression_transformer.py
  tests/dataset/transform/test_expression_transformer.py
  tests/dataset/transform/test_frequency_encoder_transformer.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Update build dependencies.
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer

feat(transformer): Add `metadata` option for the `ExpressionTransformer` that allows for creation of meta features not tracked in the `DataSchema`.
  mleko/dataset/transform/expression_transformer.py
  tests/dataset/transform/test_expression_transformer.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(data splitting): Add support for stratification on multiple features in the `RandomSplitter`.
  mleko/dataset/split/random_splitter.py
  tests/dataset/split/test_random_splitter.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(tuning): Add support for enqueuing trials in `OptunaTuner`.
  mleko/model/tune/optuna_tuner.py
  tests/dataset/split/test_random_splitter.py
  tests/model/tune/test_optuna_tuner.py
Due: black, end-of-file-fixer, flake8, pyupgrade

chore(release): release 4.1.0
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

feat(transformer): Update `ExpressionTransformer` to use `TypedDict` instead of tuples.
  mleko/dataset/transform/expression_transformer.py
  tests/dataset/transform/test_expression_transformer.py
Due: black, end-of-file-fixer, flake8, pyupgrade

chore(release): release 4.2.0
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

fix(transformer): Update `LabelEncoder` to use `PyArrow` implementation of `unique` to prevent `vaex` bug from crashing the transformer.
  mleko/dataset/transform/label_encoder_transformer.py
Due: black, end-of-file-fixer, flake8, pyupgrade

fix(tuning): Optional `enqueue_trials` parameter added to fingerprint of `OptunaTuner`.
  mleko/model/tune/optuna_tuner.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(model): Add check for fitted model in LGBMModel fingerprint.
  .safety-policy.yml
  mleko/model/lgbm_model.py
  poetry.lock
  tests/model/test_lgbm_model.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade

chore(release): release 4.3.0
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

Add ethical hacking POC to release workflow
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer

Update documentation workflow to include Sphinx build
  .github/workflows/documentation.yml
Due: check-yaml, end-of-file-fixer

Update Sphinx build step in documentation workflow
  .github/workflows/documentation.yml
Due: check-yaml, end-of-file-fixer

Clean up release.yml by removing an empty line
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer

ci: add diagnostic logging for pip upgrade step
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer

Update release.yml with new release process
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer

Remove empty line in documentation workflow file
  .github/workflows/documentation.yml
Due: check-yaml, end-of-file-fixer
