Repository klarna-incubator/mleko: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: poetry run check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: poetry run check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: poetry run check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: poetry run darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: poetry run end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: ^CHANGELOG\.md$
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
      - id: isort
        name: isort
        entry: poetry run isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: poetry run pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: poetry run trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
        exclude: ^(CHANGELOG\.md|\.git\/COMMIT\_EDITMSG)$
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

revert: Replace `os.getlogin()` with more recent module.
  mleko/model/tune/optuna_tuner.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat: Update Titanic dataset to `mleko` 2.0 API.
  examples/Titanic.ipynb
Due: end-of-file-fixer

chore(release): release 2.1.0
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

docs: Update `CHANGELOG.md` format to include missing categories.
  templates/.release_notes.md.j2
  templates/CHANGELOG.md.j2
Due: end-of-file-fixer

chore: Manually update `CHANGELOG.md` to new format.
  CHANGELOG.md
Due: none

chore: Remove old `sphinx-autoapi` template directory.
  autoapi/index.rst
  autoapi/python/attribute.rst
  autoapi/python/class.rst
  autoapi/python/data.rst
  autoapi/python/exception.rst
  autoapi/python/function.rst
  autoapi/python/method.rst
  autoapi/python/module.rst
  autoapi/python/package.rst
  autoapi/python/property.rst
Due: end-of-file-fixer

feat(cache): Add `disable_cache` argument to all cached functions to completely bypass all caching functionality.
  examples/Titanic.ipynb
  mleko/cache/cache_mixin.py
  mleko/dataset/convert/base_converter.py
  mleko/dataset/convert/csv_to_vaex_converter.py
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/dataset/feature_select/composite_feature_selector.py
  mleko/dataset/split/base_splitter.py
  mleko/dataset/split/expression_splitter.py
  mleko/dataset/split/random_splitter.py
  mleko/dataset/transform/base_transformer.py
  mleko/dataset/transform/composite_transformer.py
  mleko/model/base_model.py
  mleko/model/tune/base_tuner.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(filter): Add `ExpressionFilter` and base class for simple DataFrame filtering using `vaex` expressions.
  .vscode/settings.json
  examples/Titanic.ipynb
  mleko/dataset/filter/__init__.py
  mleko/dataset/filter/base_filter.py
  mleko/dataset/filter/expression_filter.py
  mleko/dataset/split/expression_splitter.py
  mleko/dataset/split/random_splitter.py
  mleko/pipeline/steps/__init__.py
  mleko/pipeline/steps/filter_step.py
  mleko/pipeline/steps/split_step.py
  tests/dataset/filter/__init__.py
  tests/dataset/filter/test_base_filter.py
  tests/dataset/filter/test_expression_splitter.py
  tests/dataset/split/__init__.py
  tests/dataset/split/test_base_splitter.py
  tests/dataset/split/test_expression_splitter.py
  tests/dataset/split/test_random_splitter.py
  tests/pipeline/steps/test_filter_step.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(filter): Add `ImblearnResamplingFilter` which is a wrapper for `imblearn` over- and under-samplers.
  .flake8
  examples/Titanic.ipynb
  mleko/cache/fingerprinters/__init__.py
  mleko/cache/fingerprinters/dict_fingerprinter.py
  mleko/cache/handlers/vaex_cache_handler.py
  mleko/dataset/convert/csv_to_vaex_converter.py
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/dataset/filter/__init__.py
  mleko/dataset/filter/base_filter.py
  mleko/dataset/filter/expression_filter.py
  mleko/dataset/filter/imblearn_resampling_filter.py
  mleko/dataset/split/random_splitter.py
  mleko/dataset/transform/base_transformer.py
  mleko/model/base_model.py
  mleko/model/lgbm_model.py
  mleko/model/tune/base_tuner.py
  mleko/model/tune/optuna_tuner.py
  mleko/pipeline/steps/filter_step.py
  poetry.lock
  pyproject.toml
  tests/dataset/filter/test_expression_filter.py
  tests/dataset/filter/test_imblearn_resampling_filter.py
  tests/model/tune/test_optuna_tuner.py
  tests/pipeline/steps/test_filter_step.py
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

chore(release): release 2.2.0
  CHANGELOG.md
  autoapi/index.rst
  autoapi/python/attribute.rst
  autoapi/python/class.rst
  autoapi/python/data.rst
  autoapi/python/exception.rst
  autoapi/python/function.rst
  autoapi/python/method.rst
  autoapi/python/module.rst
  autoapi/python/package.rst
  autoapi/python/property.rst
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

feat(model): Update `LGBMModel` to use dependency injection, now expects a `lightgbm.LGBMModel` as argument.
  .flake8
  examples/Titanic.ipynb
  mleko/dataset/filter/imblearn_resampling_filter.py
  mleko/model/base_model.py
  mleko/model/lgbm_model.py
  mleko/utils/custom_logger.py
  tests/model/test_lgbm_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade

chore: Update `cryptography` to `42.0.5`
  poetry.lock
Due: end-of-file-fixer

fix(data cleaning): Fix bug where boolean columns are stored as numerical in the data schema due to `int8` conversion.
  mleko/dataset/convert/csv_to_vaex_converter.py
  mleko/model/lgbm_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Add test case for boolean conversion to int.
  tests/dataset/convert/test_csv_to_vaex_converter.py
Due: black, end-of-file-fixer, flake8, pyupgrade

fix: Switch `vaex` file format to `Arrow` instead of `HDF5` for better type support.
  mleko/cache/handlers/vaex_cache_handler.py
  tests/dataset/convert/test_csv_to_vaex_converter.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Fix Pylance warning
  mleko/dataset/transform/label_encoder_transformer.py
Due: black, end-of-file-fixer, flake8, pyupgrade

chore(release): release 3.0.0
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

feat(model): Add optional memoization to datasets during model training.
  mleko/dataset/data_schema.py
  mleko/dataset/transform/label_encoder_transformer.py
  mleko/model/base_model.py
  mleko/model/lgbm_model.py
  mleko/utils/vaex_helpers.py
  tests/dataset/test_data_schema.py
  tests/model/test_base_model.py
  tests/model/test_lgbm_model.py
  tests/utils/test_vaex_helpers.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Attempt fix GH Actions
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer

revert: test
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer

revert: testing
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer

revert: Fix GitHub Actions
  mleko/model/base_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Fix build error
  mleko/dataset/data_schema.py
  mleko/model/base_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade

chore(release): release 3.1.0
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

fix(model): Add `verbosity` parameter to `BaseModel` to set log level in the base class.
  mleko/model/base_model.py
  mleko/model/lgbm_model.py
  tests/model/test_base_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(tuning): Add support for `RDSStorage` using the `OptunaTuner`
  .flake8
  mleko/cache/fingerprinters/dict_fingerprinter.py
  mleko/model/tune/optuna_tuner.py
  poetry.lock
  tests/model/tune/test_optuna_tuner.py
Due: black, end-of-file-fixer, flake8, pyupgrade

fix(data source): Fix bug where `dataset_id` consisting of path components would break local metadata file creation
  mleko/dataset/ingest/base_ingester.py
Due: black, end-of-file-fixer, flake8, pyupgrade

chore(release): release 3.2.0
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

feat(pipeline): Add `disable_cache` parameter to `Pipeline` execution.
  mleko/pipeline/pipeline.py
  mleko/pipeline/pipeline_step.py
  mleko/pipeline/steps/convert_step.py
  mleko/pipeline/steps/feature_select_step.py
  mleko/pipeline/steps/filter_step.py
  mleko/pipeline/steps/ingest_step.py
  mleko/pipeline/steps/model_step.py
  mleko/pipeline/steps/split_step.py
  mleko/pipeline/steps/transform_step.py
  mleko/pipeline/steps/tune_step.py
  tests/pipeline/steps/test_convert_step.py
  tests/pipeline/steps/test_feature_select_step.py
  tests/pipeline/steps/test_filter_step.py
  tests/pipeline/steps/test_ingest_step.py
  tests/pipeline/steps/test_model_step.py
  tests/pipeline/steps/test_split_step.py
  tests/pipeline/steps/test_transform_step.py
  tests/pipeline/steps/test_tune_step.py
  tests/pipeline/test_pipeline.py
Due: black, end-of-file-fixer, flake8, pyupgrade

fix(tuning): Delete logging of storage URI to minimize risk of accidentally logging credentials.
  mleko/model/tune/optuna_tuner.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(data source): Add support for reading manifest files from S3 buckets in `S3Ingester`.
  mleko/dataset/ingest/s3_ingester.py
  tests/dataset/ingest/test_s3_ingester.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(exporter): Add `BaseExporter` and `LocalExporter` implementations that support exporting data to disk, along with corresponding `Pipeline` steps.
  .vscode/settings.json
  examples/Titanic.ipynb
  mleko/cache/fingerprinters/__init__.py
  mleko/cache/fingerprinters/json_fingerprinter.py
  mleko/cache/handlers/__init__.py
  mleko/cache/handlers/json_cache_handler.py
  mleko/cache/handlers/string_cache_handler.py
  mleko/cache/handlers/vaex_cache_handler.py
  mleko/dataset/data_schema.py
  mleko/dataset/export/__init__.py
  mleko/dataset/export/base_exporter.py
  mleko/dataset/export/local_exporter.py
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/dataset/filter/expression_filter.py
  mleko/dataset/filter/imblearn_resampling_filter.py
  mleko/dataset/ingest/base_ingester.py
  mleko/dataset/ingest/kaggle_ingester.py
  mleko/dataset/ingest/s3_ingester.py
  mleko/dataset/transform/base_transformer.py
  mleko/dataset/transform/label_encoder_transformer.py
  mleko/model/base_model.py
  mleko/model/tune/base_tuner.py
  mleko/model/tune/optuna_tuner.py
  mleko/pipeline/steps/__init__.py
  mleko/pipeline/steps/export_step.py
  poetry.lock
  tests/cache/fingerprinters/test_json_fingerprinter.py
  tests/dataset/export/__init__.py
  tests/dataset/export/test_base_exporter.py
  tests/dataset/export/test_local_exporter.py
  tests/dataset/ingest/test_base_ingester.py
  tests/dataset/ingest/test_kaggle_ingester.py
  tests/dataset/ingest/test_s3_ingester.py
  tests/pipeline/steps/test_export_step.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Add safety policy configuration file.
  .safety-policy.yml
Due: check-yaml, end-of-file-fixer

feat(exporter): Add support for multiple data export using `LocalExporter`.
  mleko/dataset/export/base_exporter.py
  mleko/dataset/export/local_exporter.py
  tests/dataset/export/test_local_exporter.py
Due: black, end-of-file-fixer, flake8, pyupgrade
