Repository klarna-incubator/mleko: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

black:
  name: black
  entry: poetry run black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: poetry run check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: poetry run check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: poetry run end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: poetry run flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: poetry run pyupgrade
  language: system
  args:
  - --py37-plus

0.2.0
  CHANGELOG.md
  pyproject.toml
  src/mleko/__init__.py
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

ci: :rocket: Updated release to only trigger if the commit message does not contain chore(release).
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer

fix(pipeline): :bug: Updated some docstrings.
  src/mleko/data/converters.py
Due: black, end-of-file-fixer, flake8, pyupgrade

fix(data splitting): :bug: Added notes and examples to splitters docstrings.
  src/mleko/data/splitters.py
Due: black, end-of-file-fixer, flake8, pyupgrade

0.3.0
  CHANGELOG.md
  pyproject.toml
  src/mleko/__init__.py
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

ci: :rocket: Removed semantic PR workflow and updated test workflow to not run on release commits.
  .github/workflows/semantic_pull_request.yml
  .github/workflows/tests.yml
Due: check-yaml, end-of-file-fixer

refactor(data source): :bug: Added note to the KaggleDataSource init docstring.
  src/mleko/data/sources/kaggle_data_source.py
Due: black, end-of-file-fixer, flake8, pyupgrade

fix: :bug: Added notes to pipeline step docstrings.
  src/mleko/pipeline/pipeline.py
  src/mleko/pipeline/pipeline_step.py
Due: black, end-of-file-fixer, flake8, pyupgrade

0.3.1
  CHANGELOG.md
  pyproject.toml
  src/mleko/__init__.py
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

fix: 🐛 Fix typeguard breaking changes causing build to fail.
  examples/Experiment.ipynb
  mleko/cache/format/vaex_arrow_cache_format_mixin.py
  mleko/dataset/converters/csv_to_vaex_converter.py
  mleko/dataset/data_sources/kaggle_data_source.py
  mleko/dataset/data_sources/s3_data_source.py
  mleko/dataset/splitters/expression_splitter.py
  mleko/dataset/splitters/random_splitter.py
  mleko/pipeline/steps/ingest_step.py
  mleko/pipeline/steps/split_step.py
  mleko/utils/decorators.py
  pyproject.toml
  tests/cache/fingerprinters/test_csv_fingerprinter.py
  tests/cache/fingerprinters/test_vaex_fingerprinter.py
  tests/cache/format/test_vaex_arrow_cache_format_mixin.py
  tests/dataset/converters/test_base_converter.py
  tests/dataset/converters/test_csv_to_vaex_converter.py
  tests/dataset/data_sources/test_kaggle_data_source.py
  tests/dataset/data_sources/test_s3_data_source.py
  tests/dataset/splitters/test_base_splitter.py
  tests/dataset/splitters/test_expression_splitter.py
  tests/dataset/splitters/test_random_splitter.py
  tests/pipeline/steps/test_convert_step.py
  tests/pipeline/steps/test_ingest_step.py
  tests/pipeline/steps/test_split_step.py
  tests/pipeline/test_pipeline_step.py
  tests/utils/test_tqdm_helpers.py
  tests/utils/test_vaex_helpers.py
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

refactor: 🔥 Rename subpackages in dataset to singular variant.
  docs/usage.md
  examples/Experiment.ipynb
  mleko/dataset/converter/__init__.py
  mleko/dataset/converter/base_converter.py
  mleko/dataset/converter/csv_to_vaex_converter.py
  mleko/dataset/data_source/__init__.py
  mleko/dataset/data_source/base_data_source.py
  mleko/dataset/data_source/kaggle_data_source.py
  mleko/dataset/data_source/s3_data_source.py
  mleko/dataset/splitter/__init__.py
  mleko/dataset/splitter/base_splitter.py
  mleko/dataset/splitter/expression_splitter.py
  mleko/dataset/splitter/random_splitter.py
  mleko/pipeline/steps/convert_step.py
  mleko/pipeline/steps/ingest_step.py
  mleko/pipeline/steps/split_step.py
  tests/dataset/converters/__init__.py
  tests/dataset/converters/test_base_converter.py
  tests/dataset/converters/test_csv_to_vaex_converter.py
  tests/dataset/data_sources/__init__.py
  tests/dataset/data_sources/test_base_data_source.py
  tests/dataset/data_sources/test_kaggle_data_source.py
  tests/dataset/data_sources/test_s3_data_source.py
  tests/dataset/splitters/__init__.py
  tests/dataset/splitters/test_base_splitter.py
  tests/dataset/splitters/test_expression_splitter.py
  tests/dataset/splitters/test_random_splitter.py
  tests/pipeline/steps/test_convert_step.py
  tests/pipeline/steps/test_ingest_step.py
  tests/pipeline/steps/test_split_step.py
Due: black, end-of-file-fixer, flake8, pyupgrade

refactor: 🔥 Unify dataset subpackage naming to verbs and modules to nouns.
  docs/usage.md
  examples/Experiment.ipynb
  mleko/dataset/convert/__init__.py
  mleko/dataset/convert/base_converter.py
  mleko/dataset/convert/csv_to_vaex_converter.py
  mleko/dataset/ingest/__init__.py
  mleko/dataset/ingest/base_ingester.py
  mleko/dataset/ingest/kaggle_ingester.py
  mleko/dataset/ingest/s3_ingester.py
  mleko/dataset/split/__init__.py
  mleko/dataset/split/base_splitter.py
  mleko/dataset/split/expression_splitter.py
  mleko/dataset/split/random_splitter.py
  mleko/pipeline/steps/convert_step.py
  mleko/pipeline/steps/ingest_step.py
  mleko/pipeline/steps/split_step.py
  tests/dataset/convert/__init__.py
  tests/dataset/convert/test_base_converter.py
  tests/dataset/convert/test_csv_to_vaex_converter.py
  tests/dataset/converters/__init__.py
  tests/dataset/data_sources/__init__.py
  tests/dataset/ingest/__init__.py
  tests/dataset/ingest/test_base_ingester.py
  tests/dataset/ingest/test_kaggle_ingester.py
  tests/dataset/ingest/test_s3_ingester.py
  tests/dataset/splitters/__init__.py
  tests/dataset/splitters/test_base_splitter.py
  tests/dataset/splitters/test_expression_splitter.py
  tests/dataset/splitters/test_random_splitter.py
  tests/pipeline/steps/test_convert_step.py
  tests/pipeline/steps/test_ingest_step.py
  tests/pipeline/steps/test_split_step.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(feature selection): ✨ Add missing rate feature selector.
  .vscode/settings.json
  examples/Experiment.ipynb
  mleko/dataset/feature_select/__init__.py
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/dataset/feature_select/missing_rate_feature_selector.py
  mleko/dataset/ingest/base_ingester.py
  mleko/dataset/ingest/kaggle_ingester.py
  mleko/dataset/ingest/s3_ingester.py
  mleko/pipeline/steps/__init__.py
  mleko/pipeline/steps/feature_select_step.py
  tests/dataset/feature_select/__init__.py
  tests/dataset/feature_select/test_base_feature_selector.py
  tests/dataset/feature_select/test_missing_rate_feature_selector.py
  tests/dataset/ingest/test_base_ingester.py
  tests/dataset/ingest/test_kaggle_ingester.py
  tests/dataset/ingest/test_s3_ingester.py
  tests/pipeline/steps/test_feature_select_step.py
Due: black, end-of-file-fixer, flake8, pyupgrade

Fix mypt build error
  mleko/dataset/feature_select/missing_rate_feature_selector.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(feature selection): ✨ Add standard deviation feature selector.
  examples/Experiment.ipynb
  mleko/cache/lru_cache_mixin.py
  mleko/dataset/feature_select/__init__.py
  mleko/dataset/feature_select/standard_deviation_feature_selector.py
  pyproject.toml
  tests/dataset/feature_select/test_standard_deviation_feature_selector.py
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

feat(feature selection): ✨ Add `CompositeFeatureSelector`, for chaining multiple feature selection steps on the same DataFrame.
  examples/Experiment.ipynb
  mleko/cache/__init__.py
  mleko/cache/cache_mixin.py
  mleko/cache/fingerprinters/__init__.py
  mleko/cache/fingerprinters/vaex_fingerprinter.py
  mleko/cache/format/__init__.py
  mleko/cache/format/vaex_arrow_cache_format_mixin.py
  mleko/cache/lru_cache_mixin.py
  mleko/dataset/__init__.py
  mleko/dataset/convert/__init__.py
  mleko/dataset/convert/base_converter.py
  mleko/dataset/convert/csv_to_vaex_converter.py
  mleko/dataset/feature_select/__init__.py
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/dataset/feature_select/composite_feature_selector.py
  mleko/dataset/feature_select/missing_rate_feature_selector.py
  mleko/dataset/feature_select/standard_deviation_feature_selector.py
  mleko/dataset/ingest/__init__.py
  mleko/dataset/ingest/base_ingester.py
  mleko/dataset/ingest/kaggle_ingester.py
  mleko/dataset/ingest/s3_ingester.py
  mleko/dataset/split/__init__.py
  mleko/dataset/split/base_splitter.py
  mleko/dataset/split/expression_splitter.py
  mleko/dataset/split/random_splitter.py
  tests/cache/format/test_vaex_arrow_cache_format_mixin.py
  tests/dataset/convert/test_base_converter.py
  tests/dataset/convert/test_csv_to_vaex_converter.py
  tests/dataset/feature_select/test_base_feature_selector.py
  tests/dataset/feature_select/test_composite_feature_selector.py
  tests/dataset/feature_select/test_missing_rate_feature_selector.py
  tests/dataset/feature_select/test_standard_deviation_feature_selector.py
  tests/dataset/ingest/test_base_ingester.py
  tests/dataset/ingest/test_s3_ingester.py
  tests/dataset/splitters/test_base_splitter.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(feature selection): ✨ Add `PearsonCorrelationFeatureSelector` which drops highly correlated features.
  examples/Experiment.ipynb
  mleko/dataset/feature_select/__init__.py
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/dataset/feature_select/composite_feature_selector.py
  mleko/dataset/feature_select/missing_rate_feature_selector.py
  mleko/dataset/feature_select/pearson_correlation_feature_selector.py
  mleko/dataset/feature_select/variance_feature_selector.py
  poetry.lock
  tests/dataset/feature_select/test_composite_feature_selector.py
  tests/dataset/feature_select/test_pearson_correlation_feature_selector.py
  tests/dataset/feature_select/test_standard_deviation_feature_selector.py
  tests/dataset/feature_select/test_variance_feature_selector.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(feature selection): ✨ Add that filters out invariant features.
  .gitignore
  examples/Experiment.ipynb
  mleko/cache/format/__init__.py
  mleko/cache/format/vaex_cache_format_mixin.py
  mleko/dataset/convert/base_converter.py
  mleko/dataset/convert/csv_to_vaex_converter.py
  mleko/dataset/feature_select/__init__.py
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/dataset/feature_select/composite_feature_selector.py
  mleko/dataset/feature_select/invariance_feature_selector.py
  mleko/dataset/feature_select/pearson_correlation_feature_selector.py
  mleko/dataset/feature_select/variance_feature_selector.py
  mleko/dataset/ingest/kaggle_ingester.py
  mleko/dataset/split/base_splitter.py
  mleko/pipeline/pipeline.py
  poetry.lock
  pyproject.toml
  tests/cache/format/test_vaex_arrow_cache_format_mixin.py
  tests/dataset/feature_select/test_invariance_feature_selector.py
  tests/dataset/ingest/test_kaggle_ingester.py
  tests/pipeline/test_pipeline.py
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

0.4.0
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

fix(feature selection): 🐛 Fix `FeatureSelector` cache to use tuple instead of frozenset to have stable fingerprint.
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/dataset/feature_select/composite_feature_selector.py
  mleko/dataset/feature_select/invariance_feature_selector.py
  mleko/dataset/feature_select/missing_rate_feature_selector.py
  mleko/dataset/feature_select/pearson_correlation_feature_selector.py
  mleko/dataset/feature_select/variance_feature_selector.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Fix return type of `FeatureSelector` default features method.
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/dataset/feature_select/composite_feature_selector.py
  mleko/dataset/feature_select/invariance_feature_selector.py
  mleko/dataset/feature_select/missing_rate_feature_selector.py
  mleko/dataset/feature_select/pearson_correlation_feature_selector.py
  mleko/dataset/feature_select/variance_feature_selector.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Change type of features and ignored features to be tuple of variable lenght.
  mleko/dataset/feature_select/base_feature_selector.py
Due: black, end-of-file-fixer, flake8, pyupgrade

0.4.1
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

refactor: ➖ Remove pandas dependency.
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer

perf: ⚡️ Optimize VarianceFeatureSelector when threshold is 0.
  mleko/dataset/convert/csv_to_vaex_converter.py
  mleko/dataset/feature_select/variance_feature_selector.py
Due: black, end-of-file-fixer, flake8, pyupgrade

ci(semantic versioning): 👷 Add more sections to changelog based on conventional commit categories.
  .vscode/settings.json
  pyproject.toml
Due: check-toml, end-of-file-fixer

0.4.2
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

chore(deps): Update release workflow to ignore chore(deps) commits.
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer

chore(deps): Fix issue with boolean logic in last commit.
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer

refactor: 💫 Switch to tqdm.auto to prevent breaking in Jupyter notebooks.
  mleko/cache/format/vaex_cache_format_mixin.py
  mleko/dataset/convert/csv_to_vaex_converter.py
  mleko/dataset/feature_select/invariance_feature_selector.py
  mleko/dataset/feature_select/missing_rate_feature_selector.py
  mleko/dataset/feature_select/variance_feature_selector.py
  mleko/dataset/ingest/kaggle_ingester.py
  mleko/dataset/ingest/s3_ingester.py
  mleko/utils/tqdm_helpers.py
  poetry.lock
  tests/utils/test_tqdm_helpers.py
Due: black, end-of-file-fixer, flake8, pyupgrade

test: ✅ Now _get_local_filenames returns a sorted list of filenames to ensure stability.
  mleko/dataset/ingest/base_ingester.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(transformer): ✨ Add FrequencyEncoderTransformer along with support for pipeline.
  .vscode/settings.json
  examples/Experiment.ipynb
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/dataset/feature_select/composite_feature_selector.py
  mleko/dataset/feature_select/invariance_feature_selector.py
  mleko/dataset/feature_select/missing_rate_feature_selector.py
  mleko/dataset/feature_select/pearson_correlation_feature_selector.py
  mleko/dataset/feature_select/variance_feature_selector.py
  mleko/dataset/transform/__init__.py
  mleko/dataset/transform/base_transformer.py
  mleko/dataset/transform/frequency_encoder_transformer.py
  mleko/pipeline/steps/__init__.py
  mleko/pipeline/steps/transform_step.py
  tests/dataset/transform/__init__.py
  tests/dataset/transform/test_base_transformer.py
  tests/dataset/transform/test_frequency_encoder_transformer.py
  tests/pipeline/steps/test_transform_step.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Fix test in last commit.
  tests/dataset/transform/test_frequency_encoder_transformer.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(transformer): ✨ Add LabelEncoderTransformer for ordinal encoding.
  mleko/dataset/transform/__init__.py
  mleko/dataset/transform/base_transformer.py
  mleko/dataset/transform/label_encoder_transformer.py
  tests/dataset/transform/test_label_encoder_transformer.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(transformer): ✨ Add CompositeTransformer for chaining together multiple transformers sequentially.
  mleko/dataset/feature_select/composite_feature_selector.py
  mleko/dataset/transform/__init__.py
  mleko/dataset/transform/composite_transformer.py
  tests/dataset/transform/test_composite_transformer.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Fix failing test due to different order of encoded labels.
  mleko/dataset/transform/composite_transformer.py
  mleko/dataset/transform/label_encoder_transformer.py
  tests/dataset/transform/test_composite_transformer.py
  tests/dataset/transform/test_label_encoder_transformer.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(transformer): ✨ Add MaxAbsScalerTransformer that scales numerical features.
  mleko/dataset/transform/__init__.py
  mleko/dataset/transform/max_abs_scaler_transformer.py
  tests/dataset/transform/test_label_encoder_transformer.py
  tests/dataset/transform/test_max_abs_scaler_transformer.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(transformer): ✨ Add MinMaxScalerTransformer for normalizing numerical features.
  mleko/dataset/transform/__init__.py
  mleko/dataset/transform/min_max_scaler_transformer.py
  tests/dataset/transform/test_max_abs_scaler_transformer.py
  tests/dataset/transform/test_min_max_scaler_transformer.py
Due: black, end-of-file-fixer, flake8, pyupgrade

0.5.0
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: ^CHANGELOG\.md$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
