Repository klarna-incubator/mleko: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: poetry run check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: poetry run check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: poetry run check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: poetry run darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: poetry run end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: ^CHANGELOG\.md$
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
      - id: isort
        name: isort
        entry: poetry run isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: poetry run pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: poetry run trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
        exclude: ^(CHANGELOG\.md|\.git\/COMMIT\_EDITMSG)$
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

Update release.yml
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer

feat(cache): ✨ Add cache_group that can segment an instance cache into different isolated parts.
  examples/Experiment.ipynb
  mleko/cache/cache_mixin.py
  mleko/cache/lru_cache_mixin.py
  mleko/dataset/convert/base_converter.py
  mleko/dataset/convert/csv_to_vaex_converter.py
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/dataset/feature_select/composite_feature_selector.py
  mleko/dataset/feature_select/invariance_feature_selector.py
  mleko/dataset/feature_select/missing_rate_feature_selector.py
  mleko/dataset/feature_select/pearson_correlation_feature_selector.py
  mleko/dataset/feature_select/variance_feature_selector.py
  mleko/dataset/split/base_splitter.py
  mleko/dataset/split/expression_splitter.py
  mleko/dataset/split/random_splitter.py
  mleko/dataset/transform/base_transformer.py
  mleko/dataset/transform/composite_transformer.py
  mleko/dataset/transform/frequency_encoder_transformer.py
  mleko/dataset/transform/label_encoder_transformer.py
  mleko/dataset/transform/max_abs_scaler_transformer.py
  mleko/dataset/transform/min_max_scaler_transformer.py
  mleko/pipeline/pipeline_step.py
  mleko/pipeline/steps/convert_step.py
  mleko/pipeline/steps/feature_select_step.py
  mleko/pipeline/steps/ingest_step.py
  mleko/pipeline/steps/split_step.py
  mleko/pipeline/steps/transform_step.py
  tests/cache/test_cache_mixin.py
  tests/cache/test_lru_cache_mixin.py
  tests/pipeline/steps/test_convert_step.py
  tests/pipeline/steps/test_feature_select_step.py
  tests/pipeline/steps/test_split_step.py
  tests/pipeline/steps/test_transform_step.py
  tests/pipeline/test_pipeline.py
  tests/pipeline/test_pipeline_step.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Fix typeguard in test case.
  tests/cache/format/test_vaex_arrow_cache_format_mixin.py
Due: black, end-of-file-fixer, flake8, pyupgrade

0.6.0
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

build(config): 🔧 Switch mypy for pyright and update configuration.
  .github/workflows/tests.yml
  .gitignore
  CONTRIBUTING.md
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

fix(data source): 🐛 Fix bug where S3 buckets with no manifest caused crash.
  mleko/dataset/ingest/s3_ingester.py
  tests/dataset/ingest/test_s3_ingester.py
Due: black, end-of-file-fixer, flake8, pyupgrade

fix(data cleaning): 🐛 Fix date32/64[day] not converted to datetime.
  .vscode/settings.json
  mleko/dataset/convert/csv_to_vaex_converter.py
  mleko/dataset/split/expression_splitter.py
  mleko/dataset/split/random_splitter.py
  tests/conftest.py
  tests/dataset/convert/test_csv_to_vaex_converter.py
  tests/dataset/splitters/test_expression_splitter.py
  tests/dataset/splitters/test_random_splitter.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Add newline at end of settings.json.
  .vscode/settings.json
Due: end-of-file-fixer

0.6.1
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

feat: ✨ Add support for separate fitting and transforming inside the pipeline.
  examples/Australia Rain Classification.ipynb
  examples/Experiment.ipynb
  mleko/cache/cache_mixin.py
  mleko/cache/lru_cache_mixin.py
  mleko/dataset/convert/base_converter.py
  mleko/dataset/convert/csv_to_vaex_converter.py
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/dataset/feature_select/composite_feature_selector.py
  mleko/dataset/feature_select/invariance_feature_selector.py
  mleko/dataset/feature_select/missing_rate_feature_selector.py
  mleko/dataset/feature_select/pearson_correlation_feature_selector.py
  mleko/dataset/feature_select/variance_feature_selector.py
  mleko/dataset/ingest/kaggle_ingester.py
  mleko/dataset/split/base_splitter.py
  mleko/dataset/split/expression_splitter.py
  mleko/dataset/split/random_splitter.py
  mleko/dataset/transform/base_transformer.py
  mleko/dataset/transform/composite_transformer.py
  mleko/dataset/transform/frequency_encoder_transformer.py
  mleko/dataset/transform/label_encoder_transformer.py
  mleko/dataset/transform/max_abs_scaler_transformer.py
  mleko/dataset/transform/min_max_scaler_transformer.py
  mleko/pipeline/steps/transform_step.py
  poetry.lock
  pyproject.toml
  tests/cache/format/test_vaex_arrow_cache_format_mixin.py
  tests/cache/test_cache_mixin.py
  tests/cache/test_lru_cache_mixin.py
  tests/dataset/splitters/test_base_splitter.py
  tests/dataset/transform/test_base_transformer.py
  tests/dataset/transform/test_composite_transformer.py
  tests/dataset/transform/test_frequency_encoder_transformer.py
  tests/dataset/transform/test_label_encoder_transformer.py
  tests/dataset/transform/test_max_abs_scaler_transformer.py
  tests/dataset/transform/test_min_max_scaler_transformer.py
  tests/pipeline/steps/test_transform_step.py
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

feat: ✨ Add fit transform support to all `FeatureSelector` along with refactoring the `LRUCacheMixin`.
  examples/Australia Rain Classification.ipynb
  mleko/cache/lru_cache_mixin.py
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/dataset/feature_select/composite_feature_selector.py
  mleko/dataset/feature_select/invariance_feature_selector.py
  mleko/dataset/feature_select/missing_rate_feature_selector.py
  mleko/dataset/feature_select/pearson_correlation_feature_selector.py
  mleko/dataset/feature_select/variance_feature_selector.py
  mleko/dataset/transform/base_transformer.py
  mleko/dataset/transform/composite_transformer.py
  mleko/dataset/transform/frequency_encoder_transformer.py
  mleko/dataset/transform/label_encoder_transformer.py
  mleko/dataset/transform/max_abs_scaler_transformer.py
  mleko/dataset/transform/min_max_scaler_transformer.py
  mleko/pipeline/steps/convert_step.py
  mleko/pipeline/steps/feature_select_step.py
  mleko/pipeline/steps/split_step.py
  mleko/pipeline/steps/transform_step.py
  tests/cache/test_lru_cache_mixin.py
  tests/dataset/feature_select/test_base_feature_selector.py
  tests/dataset/feature_select/test_composite_feature_selector.py
  tests/dataset/feature_select/test_invariance_feature_selector.py
  tests/dataset/feature_select/test_missing_rate_feature_selector.py
  tests/dataset/feature_select/test_pearson_correlation_feature_selector.py
  tests/dataset/feature_select/test_variance_feature_selector.py
  tests/pipeline/steps/test_feature_select_step.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: ✏️ Fix test case coverage.
  tests/cache/test_lru_cache_mixin.py
  tests/dataset/feature_select/test_composite_feature_selector.py
  tests/dataset/transform/test_composite_transformer.py
Due: black, end-of-file-fixer, flake8, pyupgrade

fix(data cleaning): 🐛 Switched to HDF5 as file format for faster I/O and better SageMaker support.
  mleko/cache/format/vaex_cache_format_mixin.py
  mleko/dataset/convert/csv_to_vaex_converter.py
  mleko/dataset/ingest/s3_ingester.py
  poetry.lock
  pyproject.toml
  tests/cache/format/test_vaex_arrow_cache_format_mixin.py
  tests/conftest.py
  tests/dataset/convert/test_csv_to_vaex_converter.py
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

0.7.0
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

refactor(cache): 🚸 Replace `disable_cache` with a check if `cache_size=0` for `LRUCacheMixin`.
  mleko/cache/format/vaex_cache_format_mixin.py
  mleko/cache/lru_cache_mixin.py
  mleko/dataset/convert/base_converter.py
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/dataset/feature_select/composite_feature_selector.py
  mleko/dataset/feature_select/invariance_feature_selector.py
  mleko/dataset/feature_select/missing_rate_feature_selector.py
  mleko/dataset/feature_select/pearson_correlation_feature_selector.py
  mleko/dataset/feature_select/variance_feature_selector.py
  mleko/dataset/split/base_splitter.py
  mleko/dataset/split/expression_splitter.py
  mleko/dataset/split/random_splitter.py
  mleko/dataset/transform/base_transformer.py
  mleko/dataset/transform/composite_transformer.py
  mleko/dataset/transform/frequency_encoder_transformer.py
  mleko/dataset/transform/label_encoder_transformer.py
  mleko/dataset/transform/max_abs_scaler_transformer.py
  mleko/dataset/transform/min_max_scaler_transformer.py
  tests/cache/format/test_vaex_arrow_cache_format_mixin.py
  tests/cache/test_lru_cache_mixin.py
  tests/dataset/feature_select/test_base_feature_selector.py
  tests/dataset/splitters/test_base_splitter.py
  tests/dataset/transform/test_base_transformer.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(cache): ✨ Add `CacheHandler` which allows customization of read/write functions for each cached return value individually.
  .github/workflows/constraints.txt
  examples/Australia Rain Classification.ipynb
  mleko/cache/cache_mixin.py
  mleko/cache/format/__init__.py
  mleko/cache/format/vaex_cache_format_mixin.py
  mleko/cache/handlers/__init__.py
  mleko/cache/handlers/base_cache_handler.py
  mleko/cache/handlers/pickle_cache_handler.py
  mleko/cache/handlers/vaex_cache_handler.py
  mleko/cache/lru_cache_mixin.py
  mleko/dataset/convert/base_converter.py
  mleko/dataset/convert/csv_to_vaex_converter.py
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/dataset/feature_select/composite_feature_selector.py
  mleko/dataset/split/base_splitter.py
  mleko/dataset/split/expression_splitter.py
  mleko/dataset/split/random_splitter.py
  mleko/dataset/transform/base_transformer.py
  mleko/dataset/transform/composite_transformer.py
  tests/cache/fingerprinters/test_csv_fingerprinter.py
  tests/cache/fingerprinters/test_vaex_fingerprinter.py
  tests/cache/format/__init__.py
  tests/cache/format/test_vaex_arrow_cache_format_mixin.py
  tests/cache/test_cache_mixin.py
  tests/cache/test_lru_cache_mixin.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Update pip constraint GH Actions.
  .github/workflows/constraints.txt
Due: end-of-file-fixer

revert: Update test case for LRU Cache.
  tests/cache/test_lru_cache_mixin.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Update `CacheHandler` import path.
  mleko/cache/lru_cache_mixin.py
  mleko/dataset/convert/csv_to_vaex_converter.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Update GH actions nox.
  .github/workflows/constraints.txt
Due: end-of-file-fixer

revert: Update poetry on GH actions.
  .github/workflows/constraints.txt
Due: end-of-file-fixer

revert: Update GH actions virtualenv
  .github/workflows/constraints.txt
Due: end-of-file-fixer

feat(transformer): ✨ Add `fit`, `transform` and `fit_transform` to all `Transformers`, along with API and caching simplificatons.
  examples/Australia Rain Classification.ipynb
  examples/Experiment.ipynb
  mleko/cache/handlers/__init__.py
  mleko/cache/handlers/joblib_cache_handler.py
  mleko/dataset/transform/base_transformer.py
  mleko/dataset/transform/composite_transformer.py
  mleko/dataset/transform/frequency_encoder_transformer.py
  mleko/dataset/transform/label_encoder_transformer.py
  mleko/dataset/transform/max_abs_scaler_transformer.py
  mleko/dataset/transform/min_max_scaler_transformer.py
  mleko/pipeline/steps/transform_step.py
  tests/dataset/transform/test_base_transformer.py
  tests/dataset/transform/test_composite_transformer.py
  tests/dataset/transform/test_frequency_encoder_transformer.py
  tests/dataset/transform/test_label_encoder_transformer.py
  tests/dataset/transform/test_max_abs_scaler_transformer.py
  tests/dataset/transform/test_min_max_scaler_transformer.py
  tests/pipeline/steps/test_transform_step.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Fix typeguard error.
  mleko/pipeline/steps/transform_step.py
  tests/pipeline/steps/test_transform_step.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Fix missing coverage by ignoring it.
  mleko/pipeline/steps/transform_step.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(feature selection): ✨ Update `BaseFeatureSelector` and children to use the `fit`, `transform` and `fit_transform` pattern.
  examples/Australia Rain Classification.ipynb
  examples/Experiment.ipynb
  mleko/cache/cache_mixin.py
  mleko/dataset/convert/csv_to_vaex_converter.py
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/dataset/feature_select/composite_feature_selector.py
  mleko/dataset/feature_select/invariance_feature_selector.py
  mleko/dataset/feature_select/missing_rate_feature_selector.py
  mleko/dataset/feature_select/pearson_correlation_feature_selector.py
  mleko/dataset/feature_select/variance_feature_selector.py
  mleko/dataset/split/expression_splitter.py
  mleko/dataset/split/random_splitter.py
  mleko/dataset/transform/base_transformer.py
  mleko/dataset/transform/composite_transformer.py
  mleko/dataset/transform/frequency_encoder_transformer.py
  mleko/dataset/transform/label_encoder_transformer.py
  mleko/dataset/transform/max_abs_scaler_transformer.py
  mleko/dataset/transform/min_max_scaler_transformer.py
  mleko/pipeline/steps/feature_select_step.py
  tests/cache/test_cache_mixin.py
  tests/cache/test_lru_cache_mixin.py
  tests/dataset/feature_select/test_base_feature_selector.py
  tests/dataset/feature_select/test_composite_feature_selector.py
  tests/dataset/feature_select/test_invariance_feature_selector.py
  tests/dataset/feature_select/test_missing_rate_feature_selector.py
  tests/dataset/feature_select/test_pearson_correlation_feature_selector.py
  tests/dataset/feature_select/test_variance_feature_selector.py
  tests/pipeline/steps/test_feature_select_step.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Update dependencies.
  poetry.lock
Due: end-of-file-fixer

revert: Downgrade typeguard.
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer

feat: ✨ Add` DataSchema` which tracks dataset features throughout the pipeline and methods.
  mleko/dataset/__init__.py
  mleko/dataset/convert/base_converter.py
  mleko/dataset/convert/csv_to_vaex_converter.py
  mleko/dataset/data_schema.py
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/dataset/feature_select/composite_feature_selector.py
  mleko/dataset/feature_select/invariance_feature_selector.py
  mleko/dataset/feature_select/missing_rate_feature_selector.py
  mleko/dataset/feature_select/pearson_correlation_feature_selector.py
  mleko/dataset/feature_select/variance_feature_selector.py
  mleko/dataset/split/base_splitter.py
  mleko/dataset/transform/base_transformer.py
  mleko/dataset/transform/composite_transformer.py
  mleko/dataset/transform/frequency_encoder_transformer.py
  mleko/dataset/transform/label_encoder_transformer.py
  mleko/dataset/transform/max_abs_scaler_transformer.py
  mleko/dataset/transform/min_max_scaler_transformer.py
  mleko/pipeline/data_container.py
  mleko/pipeline/steps/convert_step.py
  mleko/pipeline/steps/feature_select_step.py
  tests/dataset/convert/test_csv_to_vaex_converter.py
  tests/dataset/feature_select/test_base_feature_selector.py
  tests/dataset/feature_select/test_composite_feature_selector.py
  tests/dataset/feature_select/test_invariance_feature_selector.py
  tests/dataset/feature_select/test_missing_rate_feature_selector.py
  tests/dataset/feature_select/test_pearson_correlation_feature_selector.py
  tests/dataset/feature_select/test_variance_feature_selector.py
  tests/dataset/test_data_schema.py
  tests/pipeline/steps/test_convert_step.py
  tests/pipeline/steps/test_feature_select_step.py
Due: black, end-of-file-fixer, flake8, pyupgrade

fix(feature selection): 🐛 Add `DataSchema` as partial return from all `fit` methods in feature selectors.
  mleko/dataset/convert/csv_to_vaex_converter.py
  mleko/dataset/data_schema.py
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/dataset/feature_select/composite_feature_selector.py
  mleko/dataset/feature_select/invariance_feature_selector.py
  mleko/dataset/feature_select/missing_rate_feature_selector.py
  mleko/dataset/feature_select/pearson_correlation_feature_selector.py
  mleko/dataset/feature_select/variance_feature_selector.py
  mleko/dataset/transform/label_encoder_transformer.py
  mleko/pipeline/steps/feature_select_step.py
  tests/dataset/convert/test_csv_to_vaex_converter.py
  tests/dataset/feature_select/test_base_feature_selector.py
  tests/dataset/feature_select/test_composite_feature_selector.py
  tests/pipeline/steps/test_feature_select_step.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: GH Actions timing out.
  tests/dataset/convert/test_csv_to_vaex_converter.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: GH Actions timing out.
  mleko/dataset/convert/csv_to_vaex_converter.py
  tests/dataset/convert/test_csv_to_vaex_converter.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: GH Actions timing out.
  mleko/dataset/convert/csv_to_vaex_converter.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(model): ✨ Add `LGBMModel` along with base class which can be extended for all types of future models.
  .vscode/settings.json
  examples/Australia Rain Classification.ipynb
  examples/Experiment.ipynb
  mleko/__init__.py
  mleko/dataset/convert/csv_to_vaex_converter.py
  mleko/dataset/data_schema.py
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/model/__init__.py
  mleko/model/base_model.py
  mleko/model/lgbm_model.py
  mleko/pipeline/data_container.py
  mleko/pipeline/steps/__init__.py
  mleko/pipeline/steps/convert_step.py
  mleko/pipeline/steps/feature_select_step.py
  mleko/pipeline/steps/ingest_step.py
  mleko/pipeline/steps/model_step.py
  mleko/pipeline/steps/split_step.py
  mleko/pipeline/steps/transform_step.py
  poetry.lock
  pyproject.toml
  tests/model/__init__.py
  tests/model/test_base_model.py
  tests/model/test_lgbm_model.py
  tests/pipeline/steps/test_model_step.py
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

revert: Fix slow build.
  .darglint
  .pre-commit-config.yaml
  mleko/dataset/convert/base_converter.py
  mleko/dataset/feature_select/base_feature_selector.py
  mleko/dataset/ingest/base_ingester.py
  mleko/dataset/ingest/kaggle_ingester.py
  mleko/dataset/split/base_splitter.py
  mleko/dataset/transform/base_transformer.py
  mleko/model/base_model.py
  mleko/pipeline/pipeline_step.py
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

0.8.0
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: end-of-file-fixer

Create pull_request_template.md
  .github/pull_request_template.md
Due: end-of-file-fixer
