Repository klarna-incubator/mleko: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

black:
  name: black
  entry: poetry run black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: poetry run check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: poetry run check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: poetry run end-of-file-fixer
  language: system
  stages:
  - commit
  - push
  - manual

flake8:
  name: flake8
  entry: poetry run flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: poetry run pyupgrade
  language: system
  args:
  - --py37-plus

chore(release): release 1.2.1
  CHANGELOG.md
  pyproject.toml
Due: check-toml, end-of-file-fixer

fix: Switch to trusted publishing
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer

chore(release): release 1.2.2
  CHANGELOG.md
  pyproject.toml
Due: check-toml, end-of-file-fixer

revert: Test new release
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer

chore: Update project config
  pyproject.toml
Due: check-toml, end-of-file-fixer

fix: Remove coverage from workflow
  .github/workflows/tests.yml
  README.md
  codecov.yml
Due: check-yaml, end-of-file-fixer

chore(release): release 1.2.3
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

build(semantic versioning): Update `CHANGELOG.md` template and semantic versioning logic.
  .github/workflows/release.yml
  _templates/CHANGELOG.md.j2
  pyproject.toml
Due: check-toml, check-yaml, end-of-file-fixer

revert: Fix build error and add back build step
  .github/workflows/release.yml
  _templates/CHANGELOG.md.j2
  pyproject.toml
Due: check-toml, check-yaml, end-of-file-fixer

fix: Trigger patch release.
  .readthedocs.yml
  .vscode/settings.json
  CHANGELOG.md
Due: check-yaml, end-of-file-fixer

chore(release): release 1.2.4
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

fix: Fix `CHANGELOG.md` template location
  pyproject.toml
  templates/CHANGELOG.md.j2
Due: check-toml, end-of-file-fixer

chore(release): release 1.2.5
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

fix: Bump patch release.
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .vscode/settings.json
  CHANGELOG.md
Due: check-yaml, end-of-file-fixer

chore(release): release 1.2.6
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

chore: Add `documentation.yml` GH Action, update documentation and bump dev dependencies.
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  README.md
  docs/changelog.md
  docs/conf.py
  docs/contributing.md
  docs/index.md
  docs/requirements.txt
  docs/usage.md
  mleko/__init__.py
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

revert: Change `publish_branch` to `gh-pages` instead of `main`.
  .github/workflows/documentation.yml
Due: check-yaml, end-of-file-fixer

revert: Update `Sphinx` build location, fix `flake8` warnings in `mleko/__init__.py` and fix links in `README.md`.
  .github/workflows/documentation.yml
  README.md
  mleko/__init__.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade

revert: Attempt to make release fail gracefully if no new version is found.
  .github/workflows/release.yml
  .github/workflows/tests.yml
  README.md
  pyproject.toml
Due: check-toml, check-yaml, end-of-file-fixer

ci: Add custom template for release notes to follow changelog structure.
  templates/.release_notes.md.j2
Due: end-of-file-fixer

chore: Moved `sphinx-autoapi` template directory.
  docs/conf.py
  templates/autoapi/index.rst
  templates/autoapi/python/attribute.rst
  templates/autoapi/python/class.rst
  templates/autoapi/python/data.rst
  templates/autoapi/python/exception.rst
  templates/autoapi/python/function.rst
  templates/autoapi/python/method.rst
  templates/autoapi/python/module.rst
  templates/autoapi/python/package.rst
  templates/autoapi/python/property.rst
Due: black, end-of-file-fixer, flake8, pyupgrade

refactor(cache): Break out cache handler retrieval method.
  mleko/cache/cache_mixin.py
Due: black, end-of-file-fixer, flake8, pyupgrade

Delete .github/dependabot.yml
  .github/dependabot.yml
Due: check-yaml, end-of-file-fixer

feat(model): Add support for custom evaluation function in LGBMModel.
  README.md
  mleko/model/lgbm_model.py
  tests/model/test_lgbm_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(cache): Add cache support for `None` returns on fields using cache handlers not equipped to process None.
  mleko/cache/cache_mixin.py
  mleko/cache/handlers/base_cache_handler.py
  mleko/cache/handlers/joblib_cache_handler.py
  mleko/cache/handlers/pickle_cache_handler.py
  mleko/cache/handlers/vaex_cache_handler.py
  mleko/dataset/convert/csv_to_vaex_converter.py
  tests/cache/test_cache_mixin.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(model): Refactor validation_dataframe parameter in BaseModel and LGBMModel to be optional.
  mleko/model/base_model.py
  mleko/model/lgbm_model.py
  tests/model/test_lgbm_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade

ci: Remove TypeGuard and PyUpgrade from build and pre-commit.
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

refactor(pipeline): Refactor `PipelineStep` to use `TypedDict` for both inputs and outputs.
  mleko/pipeline/pipeline_step.py
  mleko/pipeline/steps/convert_step.py
  mleko/pipeline/steps/feature_select_step.py
  mleko/pipeline/steps/ingest_step.py
  mleko/pipeline/steps/model_step.py
  mleko/pipeline/steps/split_step.py
  mleko/pipeline/steps/transform_step.py
  mleko/pipeline/steps/tune_step.py
  tests/pipeline/steps/test_convert_step.py
  tests/pipeline/steps/test_feature_select_step.py
  tests/pipeline/steps/test_ingest_step.py
  tests/pipeline/steps/test_model_step.py
  tests/pipeline/steps/test_split_step.py
  tests/pipeline/steps/test_transform_step.py
  tests/pipeline/steps/test_tune_step.py
  tests/pipeline/test_pipeline.py
  tests/pipeline/test_pipeline_step.py
Due: black, end-of-file-fixer, flake8, pyupgrade

docs: Refactor mleko package documentation to format bullet list correctly.
  mleko/__init__.py
Due: black, end-of-file-fixer, flake8, pyupgrade

fix: Added reserved keyword column name replacement to prevent evaluation errors from `vaex`.
  mleko/dataset/convert/csv_to_vaex_converter.py
  tests/conftest.py
  tests/dataset/convert/test_csv_to_vaex_converter.py
Due: black, end-of-file-fixer, flake8, pyupgrade

fix(data cleaning): Cast boolean columns to `int8` during cleaning to reduce label encoding needs.
  mleko/dataset/convert/csv_to_vaex_converter.py
  tests/conftest.py
  tests/dataset/convert/test_csv_to_vaex_converter.py
Due: black, end-of-file-fixer, flake8, pyupgrade

fix(data cleaning): Rename empty column name to `_empty` to prevent `vaex` crashes.
  mleko/dataset/convert/csv_to_vaex_converter.py
  tests/conftest.py
  tests/dataset/convert/test_csv_to_vaex_converter.py
Due: black, end-of-file-fixer, flake8, pyupgrade

chore(release): release 2.0.0
  CHANGELOG.md
  autoapi/index.rst
  autoapi/python/attribute.rst
  autoapi/python/class.rst
  autoapi/python/data.rst
  autoapi/python/exception.rst
  autoapi/python/function.rst
  autoapi/python/method.rst
  autoapi/python/module.rst
  autoapi/python/package.rst
  autoapi/python/property.rst
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

Update year in Copyright in README.md
  README.md
Due: end-of-file-fixer

fix(data cleaning): Fix `meta_columns` not being forcefully cast to correct data type in `CSVToVaexConverter`.
  mleko/dataset/convert/csv_to_vaex_converter.py
  tests/dataset/convert/test_csv_to_vaex_converter.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(transformer): Improve flexibility of `LabelEncoderTransformer` by adding optional null encoding and manual dictionary mapping.
  mleko/dataset/transform/base_transformer.py
  mleko/dataset/transform/label_encoder_transformer.py
  tests/dataset/transform/test_label_encoder_transformer.py
Due: black, end-of-file-fixer, flake8, pyupgrade

test: Fix test cases generating cache directory outside temporary directory.
  tests/dataset/feature_select/test_composite_feature_selector.py
  tests/dataset/transform/test_composite_transformer.py
Due: black, end-of-file-fixer, flake8, pyupgrade

feat(tuning): Add `optuna-dashboard` support to `OptunaTuner` including automatically generated experiment notes.
  mleko/model/tune/optuna_tuner.py
  poetry.lock
  pyproject.toml
  tests/model/tune/test_optuna_tuner.py
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: ^CHANGELOG\.md$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
