Repository klarna-incubator/mleko: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

.pre-commit-config.yaml:

default_install_hook_types: [commit-msg, pre-commit]
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: poetry run check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: poetry run check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: poetry run check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: poetry run darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: poetry run end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        exclude: ^CHANGELOG\.md$
      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
      - id: isort
        name: isort
        entry: poetry run isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: poetry run pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: poetry run trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
        exclude: ^(CHANGELOG\.md|\.git\/COMMIT\_EDITMSG)$
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

fix(config): 🐛 Fix readthedocs build to only generate html.
  .readthedocs.yml
Due: check-yaml, end-of-file-fixer

revert: Fix pre-commit issues.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/labels.yml
  .github/pull_request_template.md
Due: check-yaml, end-of-file-fixer

0.8.1
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

Update README.md
  README.md
Due: end-of-file-fixer

Update .readthedocs.yml
  .readthedocs.yml
Due: check-yaml, end-of-file-fixer

Delete examples/.DS_Store
  examples/.DS_Store
Due: end-of-file-fixer

Update release.yml
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: end-of-file-fixer

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: end-of-file-fixer

feat(transformer): ✨ Add `DataSchema` API to transformers `fit`, `transform` and `fit_transform`.
  examples/Titanic.ipynb
  mleko/dataset/convert/csv_to_vaex_converter.py
  mleko/dataset/data_schema.py
  mleko/dataset/feature_select/composite_feature_selector.py
  mleko/dataset/feature_select/invariance_feature_selector.py
  mleko/dataset/feature_select/missing_rate_feature_selector.py
  mleko/dataset/feature_select/pearson_correlation_feature_selector.py
  mleko/dataset/feature_select/variance_feature_selector.py
  mleko/dataset/transform/base_transformer.py
  mleko/dataset/transform/composite_transformer.py
  mleko/dataset/transform/frequency_encoder_transformer.py
  mleko/dataset/transform/label_encoder_transformer.py
  mleko/dataset/transform/max_abs_scaler_transformer.py
  mleko/dataset/transform/min_max_scaler_transformer.py
  mleko/model/lgbm_model.py
  mleko/pipeline/steps/transform_step.py
  tests/dataset/test_data_schema.py
  tests/dataset/transform/test_base_transformer.py
  tests/dataset/transform/test_composite_transformer.py
  tests/dataset/transform/test_frequency_encoder_transformer.py
  tests/dataset/transform/test_label_encoder_transformer.py
  tests/dataset/transform/test_max_abs_scaler_transformer.py
  tests/dataset/transform/test_min_max_scaler_transformer.py
  tests/pipeline/steps/test_transform_step.py
Due: black, end-of-file-fixer, flake8, pyupgrade

docs: 📝 Add example notebook for `Titanic` dataset.
  .gitignore
  examples/Titanic.ipynb
Due: end-of-file-fixer

docs: 📝 Improve `README.md` with more up to date information.
  README.md
  pyproject.toml
Due: check-toml, end-of-file-fixer

1.0.0
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

feat(tuning): ✨ Add hyperparameter tuning functionality, initially including `OptunaTuner`.
  .vscode/settings.json
  docs/conf.py
  examples/Titanic.ipynb
  mleko/cache/fingerprinters/__init__.py
  mleko/cache/fingerprinters/callable_source_fingerprinter.py
  mleko/cache/fingerprinters/optuna_pruner_fingerprinter.py
  mleko/cache/fingerprinters/optuna_sampler_fingerprinter.py
  mleko/dataset/data_schema.py
  mleko/model/base_model.py
  mleko/model/lgbm_model.py
  mleko/model/tune/__init__.py
  mleko/model/tune/base_tuner.py
  mleko/model/tune/optuna_tuner.py
  mleko/pipeline/steps/__init__.py
  mleko/pipeline/steps/model_step.py
  mleko/pipeline/steps/tune_step.py
  poetry.lock
  pyproject.toml
  tests/cache/fingerprinters/test_callable_source_fingerprinter.py
  tests/cache/fingerprinters/test_optuna_pruner_fingerprinter.py
  tests/cache/fingerprinters/test_optuna_sampler_fingerprinter.py
  tests/model/test_base_model.py
  tests/model/test_lgbm_model.py
  tests/model/tune/__init__.py
  tests/model/tune/test_base_tuner.py
  tests/model/tune/test_optuna_tuner.py
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

test(tuning): 🧪 Add test cases for `TuneStep`.
  tests/pipeline/steps/test_split_step.py
  tests/pipeline/steps/test_tune_step.py
Due: black, end-of-file-fixer, flake8, pyupgrade

1.1.0
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

fix(logging): 🐛 Fix LGBM logging routing to correct log level.
  .vscode/settings.json
  README.md
  mleko/cache/cache_mixin.py
  mleko/utils/custom_logger.py
Due: black, end-of-file-fixer, flake8, pyupgrade

style: ✏️ Improve logging of `CSVToVaexConverter` and fix typo in `write_vaex_dataframe`.
  .github/ISSUE_TEMPLATE/bug_report.md
  .gitignore
  README.md
  examples/Australia Rain Classification.ipynb
  mleko/cache/handlers/vaex_cache_handler.py
  mleko/dataset/convert/csv_to_vaex_converter.py
Due: black, end-of-file-fixer, flake8, pyupgrade

build: 🔒️ Bump `gitpython` to resolve CVE-2023-41040 and CVE-2023-40590.
  poetry.lock
Due: end-of-file-fixer

feat(data source): ✨ Add support for pattern matching in `*Ingester` and add `LocalManifest` to index fetched files.
  mleko/dataset/ingest/__init__.py
  mleko/dataset/ingest/base_ingester.py
  mleko/dataset/ingest/kaggle_ingester.py
  mleko/dataset/ingest/s3_ingester.py
  tests/dataset/ingest/test_base_ingester.py
  tests/dataset/ingest/test_kaggle_ingester.py
  tests/dataset/ingest/test_s3_ingester.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Fix test typeguard.
  tests/dataset/ingest/test_base_ingester.py
Due: black, end-of-file-fixer, flake8, pyupgrade

revert: Fix test coverage.
  tests/dataset/ingest/test_base_ingester.py
Due: black, end-of-file-fixer, flake8, pyupgrade

chore: update ignored files, add pattern for dev notebooks and .aider files
  .gitignore
Due: end-of-file-fixer

style: remove unnecessary blank lines
  README.md
Due: end-of-file-fixer

1.2.0
  CHANGELOG.md
  mleko/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

chore: 🧑‍💻 Update repo to follow Klarna template.
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/repolint.yml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/conf.py
  docs/index.md
  docs/usage.md
  mleko/__init__.py
  pyproject.toml
  tests/dataset/ingest/test_kaggle_ingester.py
Due: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

build: 🚧 Fix failing builds
  .vscode/settings.json
  mleko/cache/fingerprinters/callable_source_fingerprinter.py
  mleko/cache/fingerprinters/csv_fingerprinter.py
  mleko/cache/fingerprinters/optuna_pruner_fingerprinter.py
  mleko/cache/fingerprinters/optuna_sampler_fingerprinter.py
  mleko/cache/fingerprinters/vaex_fingerprinter.py
  mleko/model/tune/optuna_tuner.py
  mleko/utils/custom_logger.py
  poetry.lock
  pyproject.toml
  tests/cache/fingerprinters/test_optuna_sampler_fingerprinter.py
  tests/dataset/ingest/test_s3_ingester.py
  tests/pipeline/steps/test_tune_step.py
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade

build: 🚧 Upgrade `python-gitlab` to `4.4.0`
  poetry.lock
Due: end-of-file-fixer

chore: 🧱 Update `python-semantic-release` config
  pyproject.toml
Due: check-toml, end-of-file-fixer

revert: Attempt new semantic release action
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer

fix: Experiment with semantic versioning
  .github/workflows/release.yml
Due: check-yaml, end-of-file-fixer
